@font-face {
    font-family: 'Cake4Freaks-Regular';
    src: url('./fonts/Cake4Freaks-Regular.woff');
    font-weight: 400;
}

body {
    font-family: Cake4Freaks-Regular;
    color: white;
    background-color: black;
    margin: 150px auto;
    font-size: 2rem;
    width: 950px;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: #FAFAFA;
}

a:hover {
    color: pink;
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 2rem;
        margin: 12.5vw auto;
        width: 78vw;
    }
}

@media screen and (max-width: 400px) {
    body {
        margin: 30px auto;
        width: 80vw;
        font-size: 5vmin;
    }
}